.cuno_bule{
	height: 50px;
	width: 100%;
	background: #247aff;
	margin-top: 80px;
	position: relative;
	margin-bottom: 30px;
}
.cuno_bule img{
	width: 120px;
	position: absolute;
	left: 200px;
	top: -60px;
	
}
.cuno5{
	margin-top: 50px;
}
.cuno6{
	margin-top: 50px;
}
.cuno4{
	margin-top: 50px;
}